.slider-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
.slider {
    width: 50px;
    height: 25px;
    background-color: #ff1100;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}
.checked {
    background-color: #4caf50;
    transition: background-color 0.3s;
}
.slider-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
}